<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currency_converter>
            <general>
                <enable>1</enable>
                <allowed_currency>RUB</allowed_currency>
            </general>
            <api>
                <url>https://api.fixer.io/latest</url>
            </api>
        </currency_converter>
    </default>
</config>